@media (min-width:580px) {
	.slider {
		background-position: 50% 50%;
	}
	.flex-container {
		flex-wrap: wrap;
		display: flex;
	}
	.flex-item {
		width: 48%;
		margin: 5px;
	}
	.brands-block .flex-item {
		width: 32%;
		margin: 0 0 60px;
	}
	.reviews .client-user {
		border: none;
		padding: 13px 0 0 0;
	}
	.client-user .info-content {
		text-align: left;
	}
	.slick-dots li button {
		width: 14px;
		height: 14px;
	}
	.slick-dots li.slick-active button {
		width: 14px;
		height: 14px;
	}
}
@media (min-width:768px) {
	.navbar-form {
		padding: 0 5px 0 0;
	}
	.navbar-right {
		margin-right: 3px;
	}
	.flex-item {
		width: 31.7%;
		margin: 0 0 28px 0;
	}
	.navbar {
		padding: 21px 0 20px 37px;
	}
	.brands-block .flex-container {
		flex-wrap: wrap;
	}
	.brands-block .flex-item {
		margin: 20px 0 0 0;
		width: 16%;
	}
	.brands-block .atlas {
		background-position: -103px 4px;
	}
	.reviews .client-user {
		width: 44%;
		float: left;
	}
	.client-user::before {
		content: "";
		position: absolute;
		top: -16px;
		left: -1px;
		background: url(../img/reviews-icon.png) 0 0 no-repeat;
		width: 30px;
		height: 30px;
	}
	.footer .form-block,
	.modal-block-2 {
		width: 515px;
	}
	.modal-block-2 {
		left: 18%;
	}
	.slick-dots {
		left: 42%;
		bottom: 2%;
	}
	.info-content h3 {
		display: inline-block;
		padding: 7px 0 0 11px;
	}
}
@media (min-width:1024px) {
	.reviews .client-user:first-child {
		margin-right: 61px;
	}
	.reviews .client-user {
		width: 46%;
	}
	.brands-block .flex-item {
		margin: 20px 0 0 0;
		width: 10%;
	}
	.modal-block-2 {
		left: 31.2%;
	}
}
@media (min-width:1200px) {
}